#upHeader {
  background-color: #29334b;
  color: white;
}
#downHeader {
  background-color: #e5e5e5;
  padding: 10px;
  justify-content: center;
}
.imageContainer {
  padding: 15px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.imagestyle {
  padding-top: 15px;
  height: 15%;
}
.imagestyle:hover .overlay {
  height: 15%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#logo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 10px;
}
#CompanyName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
